p, h1, h2, h3, h4, h5, h6, button {
    font-family: "Rob
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

#links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.banner {
    padding: 20px 0px 50px 0px;
    height: 150px;
    background-color: #1d539f;
}

.banner .logo {
    max-width:180px;
    max-height:60px;
    width: auto;
    height: auto;
}

.banner .title {
    color: white;
    font-size: 50px;
    font-weight: 700;
}

/* */
._container {
    margin-left: 10px; 
    margin-right: 10px;
    text-align: center;
}

.lr-border  {
    border-left: 5px solid gray;
    border-right: 5px solid gray;
    list-style-type: none;
    padding: 1px;
}

#timeline {
    border-image: linear-gradient(red, green, blue ) 1;
}
#hobbies {
    border-image: linear-gradient(green, blue, red ) 1;
}

#educations {
    border-image: linear-gradient(green, blue, red ) 1;
}

.no-margin {
    margin: 0px;
}

.rainbow-text-animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

.entry-desc{
    margin-top: 5px;
}

canvas {
    position: absolute;
    top:0;
    left:0;
    z-index:-99;
  }
  .login-div {
    max-width: 430px;
    padding: 35px;
    border-radius: 15px;
    color:white;
    background: rgba(8,8,8,0.7);
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
  }
  .logo {
    background-image: url("../img/logo.jpg");
    width:100px;
    height:100px;
    border-radius: 50%;
    margin:0 auto;
  }
  
  header{
    width:100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    box-shadow: 0 0 10px #000;
    background: rgba(0,0,0,0.5);
  }

  
  i{
    color: #fff;
    cursor: pointer;
  }
  
  header .logo{
    flex: 1;
    color:#fff;
     
    margin-left: 50px;
    text-transform: uppercase;
    font-size: 15px;
  }
  
  header ul {
    flex:2;
    display: flex;
    justify-content: space-evenly;
  }
  header ul li{
    list-style: none;
  }
  header ul li a{
    text-decoration: none;
    color:#fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px;
  }
  header ul li a:hover{
    border-bottom: 2px solid cadetblue;
  }
  header .menu{
    font-size: 2.5em;
    display: none;
  }
  @media(max-width:1000px){
    header ul{
        position: fixed;
        top:100px;
        right: -100%;
        background: rgba(0,0,0,0.5);
        height: calc(100vh - 100px);
        width:50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }
     
    header .menu{
        display: block;
        width:100px;
        text-align: center;
    } 
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
body{
    background: url(bg.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
}
header{
    width:100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    box-shadow: 0 0 10px #000;
    background: rgba(0,0,0,0.5);
}
#chk1{
    display: none;
     
     
}
i{
    color: #fff;
    cursor: pointer;
}
header .logo{
    flex: 1;
    color:#fff;
     
    margin-left: 50px;
    text-transform: uppercase;
    font-size: 15px;
}
header .search-box{
    flex: 1;
    position: relative;
}
.search-box input{
    width:100%;
    height: 40px;
    border: none;
    outline: none;
    background:#f2f2f2;
    border-radius: 30px;
    color:gray;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 40px;
    text-align: center;
     
}
 
.search-box button{
    cursor: pointer;
    width:40px;
    height: 40px;
    border-radius: 30px;
    border:none;
    position: absolute;
    top:0;
    right: 0;
    transform: scale(0.9);
    background: green;
    color: #fff;
}
header ul {
    flex:2;
    display: flex;
    justify-content: space-evenly;
}
header ul li{
    list-style: none;
}
header ul li a{
    text-decoration: none;
    color:#fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px;
}
header ul li a:hover{
    border-bottom: 2px solid cadetblue;
}
header .menu{
    font-size: 2.5em;
    display: none;
}
@media(max-width:1000px){
    .search-box button{
        position: absolute;
    }
    header ul{
        position: fixed;
        top:100px;
        right: -100%;
        background: rgba(0,0,0,0.5);
        height: calc(100vh - 100px);
        width:50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }
     
    header .menu{
        display: block;
        width:100px;
        text-align: center;
    }
    #chk1:checked ~ ul{
        right: 0;
        
    }
  
}