<div class="_container">
    <h1 class="no-margin rainbow-text-animated">About Me</h1>
    <ol id="Abouts" class="lr-border">
       <p>Hi my name is {{name}} and I am an MLH Fellow! My hobbies include {{hobbies}} and I also love long walks along the beach</p> 
    </ol>
</div>