<div class="_container">
    <h1 class="no-margin rainbow-text-animated">Work Experiences</h1>
    <ol id="timeline" class="lr-border">
    {% for experience in experiences %}
        <li>
            <div class="no-margin">
                <h3 class="no-margin">{{experience.name}}</h3>
                <p class="no-margin"><em class="no-margin"> {{experience.role}}</em><br/>   
                <small class="no-margin">{{experience.date}}</small></p>
                <p class="entry-desc">{{ lipsum(1, False) }}</p>
            </div>
        </li>
    {% endfor %}
    <ol>
</div>