<div class="_container">
    <h1 class="no-margin rainbow-text-animated">About Me</h1>
    <ol id="about" class="lr-border">
       <p>Hi my name is {{name}} and I am 4th year engineering student at the University of Toronto! 
       My hobbies include cooking, sleeping, cello, and BJJ. Here's a quick test sentence to show redeploy-site.sh is working.
       Here's a test for github actions.</p> 
    </ol>
</div>