<div class="_container">
    <h1 class="no-margin rainbow-text-animated">Education</h1>
    <ol id="educations" class="lr-border">
        {% for education in educations %}
            <li>
                <div class="no-margin">
                    <h3 class="no-margin">{{education.name}}</h3>
                    <p class="no-margin">{{education.location}}</p>
                    <p class="entry-desc">{{ lipsum(1, False) }}</p>
                </div>
            </li>
        {% endfor %}
    </ol>
</div>