<!DOCTYPE html>
<html>
  <head>
     <!-- Required meta tags -->
     <meta charset="utf-8" />
     <meta
       name="viewport"
       content="width=device-width, initial-scale=1, shrink-to-fit=no"
     />
     <meta property="og:title" content="Personal Portfolio Hobbies" />
     <meta property="og:description" content="My Personal Portfolio Hobbies" />
     <meta property="og:url" content="{{ url }}" />
 
     <link rel="preconnect" href="https://fonts.gstatic.com" />
     <link
       href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
       rel="stylesheet"
     />
     <link lang="sass" rel="stylesheet" href="../static/styles/main.css" />
     <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon" />
     <title> {{ title }} </title>
    {{trdmap.js}}
  </head>

  <body>
  <header class="nav-bar">
     <div class="nav-content">
        <a href="{{ url_for('index') }}">
          <div class="nav-logo">
            <img src="../static/img/logo.svg" />
          </div>
        Home </a>
      </div>
      <div class="nav-content">
        <a href="{{ url_for('hobbies_and_map') }}">
        Hobbies </a>
      </div>
  </header>

  <div class="profile">
    <div id="profile-picture" class="profile-picture">
      <img src="../static/img/bobo.jpg" />
    </div>
    <h1>{{ title }}</h1>
  </div>

  {% include "hobbies.jinja" %}
  
  <div class="_container">
    <div id="hb-entry-container">
                <h3 id="hb-entry-heading">Traveling!</h3>
                <p id="hb-entry-desc">Check out the map for the cool places Bobo has been to.</p>
        </div>
        <div class="_container">
            {{trdmap.html}}  
        </div>   
        </div> 
   </div>     
  </body>
</html>