<div class="_container">
    <h1>Hobbies</h1>
    <ol id="hobbies" class="lr-border">
        {% for hobby in hobbies %}
            <li>
                <div id="hb-entry-container">
                    <h3 id="hb-entry-heading">{{hobby.name}}</h3>
                    <img id="hb-entry-image" src={{hobby.img}} width=480px height=170px alt={{hobby.name}}/>
                    <p id="hb-entry-desc">{{ lipsum(1) }}</p>
                </div>
            </li>
        {% endfor %}
    </ol>
</div>