{% extends "index.j2" %}

{% block extra_head %}
  {{trdmap.js}}
{% endblock extra_head %}

{% block content %}
{% include "hobbies.j2" %}
<div class="_container">
  <div id="hb-entry-container">
            <h3 id="hb-entry-heading">Traveling!</h3>
            <p id="hb-entry-desc">Check out the map for the cool places Bobo has been to.</p>
  </div>
  <div class="_container">
      {{trdmap.html}}
  </div>
</div>
{% endblock content %}